* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.navbar {
    position: fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    background-color: white;
    box-shadow: 0px -10px 25px 10px #58585a;
}

.logo h1 {
    font-size: 35px;
    color: black;
}

.navButtons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.navButtons ul li a {
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-weight: 500;
}

/* navbar  */
/* home section start  */

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin-top: 15vh;
    width: 100vw;
    height: 85vh;
    background-color: rgba(224, 224, 224, 0.226);
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.information h1 {
    font-size: 40px;
    color: black;
}

.information h3 {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.information p {
    font-weight: 400;
    line-height: 25px;
}

.buttons {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
}

.gettouch {
    width: 120px;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.gettouch:hover {
    background-color: grey;
}

.cvdownload {
    color: black;
    width: 120px;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
}

.cvdownload:hover {
    background-color: grey;
    color: white;
}


.profile {
    width: 40vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    height: 90%;
    width: 80%;
    border-radius: 80%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0px 3px 20px 0px #58585a
}


.socials {
    display: flex;
    gap: 10px;
}

.socials img {
    cursor: pointer;
    width: 30px;
}

/* about section */

#about {
    width: 100vw;
    height: 100vh;
    background-color: rgba(224, 224, 224, 0.226);
    display: flex;
    justify-content: center;
}

.containerAbout {
    /* margin-top: 15vh; */
    width: 80vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

.containerAbout h1 {
    font-size: 40px;
}

#skills {
    width: 100vw;
    height: 100vh;
    background-color: rgba(224, 224, 224, 0.226);
    display: flex;
    justify-content: center;
}

.containerSkills {
    width: 80vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

.containerSkills h1 {
    font-size: 40px;
}

.cards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}



.containerCard {
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #c9c5c5;
    width: 100px;
    height: 120px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardLogo img {
    width: 50px;

}